body, html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    min-height: 100vh;
    margin-right: 0px;
}

.container-fluid {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.row {
    margin: 0;
    min-height: 100vh;
}

[class*="col-"] {
    min-height: 100vh;
}

.card {
    border: none;
    box-shadow: 0 5px 7px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card-header {
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0 !important;
}

.dashboard-container {
    background-color: #e4e4e4;
    box-shadow: inset 2px 0 6px rgba(0, 0, 0, 0.1);
}

.btn-light-gray {
    border: none !important;
    background-color: #c7ccd3c9 !important;
    padding: 10px 24px !important;
}

.btn-light-gray:hover {
    background-color: #b4b9c0ab !important;
}

.form-separator {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}